@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
//variables
$whitecolor: white;
$whiteborder:1px solid white;
$pointer:pointer;

body {
    margin: 0 15%;
    font-family: 'Open Sans', sans-serif;
}

.background-image {
    background: url('./Images/bg.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Grid-TopRightMenu {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    padding-bottom: 45px;

    .TopMenus {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(10, 44, 68, 0.5);
        color: $whitecolor;
        height: 25px;
        cursor: $pointer;

        .TopMenus-span {
            border-right: $whiteborder;
            padding: 0 2%;

            .TopMenusLink {
                color: $whitecolor;
            }
            a:hover {
                background-color: rgba(1, 15, 29, 0.8);
                padding: 2px;
                border-radius: 5px;
              }
        }

        .TopMenus-span1 {
            padding-left: 2%;

            .TopMenusLink {
                color: $whitecolor;
            }
            a:hover {
                background-color: rgba(1, 15, 29, 0.8);
                padding: 2px;
                border-radius: 5px;
              }
        }
    }
}

.GridNavSection {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: rgba(1, 15, 29, 0.8);
    border: 1px solid rgba(23, 45, 69);
    border-style: ridge;
    outline: 1px solid rgba(178, 189, 181, 0.2);
    outline-offset: -5px;

    .logosection {
        position: relative;

        .logolink {
            .logo {
                cursor: $pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }

    .navoptionsGrid {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .navoptionsGrid>.navoptionsdiv {
        text-align: center;
        a:hover{
                background-color: rgb(72, 104, 129, 0.7);
                border-radius: 5px;
                color: $whitecolor;
        }

        .nav-a,
        .nav-aLast {
            color: rgba(170, 202, 225, 255);
            text-decoration: none;

            .delimeter {
                cursor: $pointer;
                font-weight: normal;
                padding-right: 15px;
                background: transparent url(./Images/delimeter.png) no-repeat right;
            }
        }

        .nav-aLast {
            cursor: $pointer;
            font-weight: normal;
            padding-right: 15px;
        }

    }

}

.Gridfooter {
    display: grid;
    grid-template-columns: auto auto;
    background: rgba(41, 65, 109, 255);
    margin: 5px 0 10px 0;

    .footerdivPara {
        .footerPara {
            float: right;
            color: $whitecolor;
            font-size: 65%;
        }
    }

    .footerdivLinks {
        .footerParaLinks {
            
            .footerListLink1 {
                border-right: $whiteborder;
            }

            .footerListLink1,
            .footerListLink2 {
                color: $whitecolor;
            }
        }


    }


}



//Logo & Navbar Section:
@media only screen and (min-width: 1015px) {
    .GridNavSection {
        .logosection {
            .logolink {
                .logo {
                    width: 180px;
                }
            }
        }

        .navoptionsGrid>.navoptionsdiv {
            line-height: 50px;

            .nav-a {
                .delimeter {
                    font-size: 15px;
                }
            }

            .nav-aLast {
                font-size: 15px;
            }
        }
    }
}

@media only screen and (min-width: 850px) and (max-width: 1015px) {
    .GridNavSection {
        .logosection {
            .logolink {
                .logo {
                    width: 130px;
                }
            }
        }

        .navoptionsGrid>.navoptionsdiv {
            line-height: 40px;

            .nav-a {
                .delimeter {
                    font-size: 12px;
                }
            }

            .nav-aLast {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width: 660px) and (max-width: 850px) {
    .GridNavSection {
        grid-template-columns: 30% 70%;

        .logosection {
            .logolink {
                .logo {
                    width: 130px;
                }
            }
        }

        .navoptionsGrid {
            grid-template-columns: auto auto auto;
        }

        .navoptionsGrid>.navoptionsdiv {
            line-height: 30px;

            .nav-a {
                .delimeter {
                    font-size: 12px;
                }
            }

            .nav-aLast {
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width: 520px) and (max-width: 660px) {
    .GridNavSection {
        grid-template-columns: 40% 60%;

        .logosection {
            .logolink {
                .logo {
                    width: 140px;
                }
            }
        }

        .navoptionsGrid {
            grid-template-columns: auto auto;
        }

        .navoptionsGrid>.navoptionsdiv {
            line-height: 25px;

            .nav-a {
                .delimeter {
                    font-size: 11px;
                }
            }

            .nav-aLast {
                font-size: 11px;
            }
        }
    }
}

@media only screen and (min-width: 100px) and (max-width: 520px) {
    .GridNavSection {
        grid-template-rows: auto;
        grid-template-columns: none;

        .logosection {
            margin-top: -5%;

            .logolink {
                .logo {
                    width: 140px;
                    position: relative;
                }
            }
        }

        .navoptionsGrid {
            grid-template-columns: none;
            grid-template-rows: auto auto auto auto auto;
            padding-bottom: 1%;
        }

        .navoptionsGrid>.navoptionsdiv {
            line-height: 35px;

            .nav-a {
                .delimeter {
                    font-size: 11px;
                    padding-right: 0px;
                    background: none
                }
            }

            .nav-aLast {
                font-size: 11px;
                padding-right: 0px;
            }
        }
    }
}

//footer section
@media only screen and (min-width: 630px) {
    .Gridfooter {


        .footerdivPara {
            .footerPara {
                font-size: 65%;
            }
        }

        .footerdivLinks {
            .footerParaLinks {
                margin: 5px;
                .footerListLink1 {
                    padding: 0 5px 0 10px;
                }

                .footerListLink1,
                .footerListLink2 {
                    font-size: 65%;
                }
            }


        }


    }
}
@media only screen and (min-width: 485px) and (max-width: 630px){
    .Gridfooter {


        .footerdivPara {
            .footerPara {
                font-size: 50%;
            }
        }

        .footerdivLinks {
            .footerParaLinks {
                margin: 0px; //overriding
                .footerListLink1 {
                    padding: 0 5px 0 10px;
                }

                .footerListLink1,
                .footerListLink2 {
                    font-size: 50%;
                }
            }


        }


    }
}
@media only screen and (min-width: 100px) and (max-width: 485px){
    .Gridfooter {
        grid-template-rows: auto auto;
        grid-template-columns: none;
        .footerdivPara {
            margin-bottom: -10px;
            .footerPara {
                font-size: 50%;
                float: none;
                text-align: center;
            }
        }
        .footerdivLinks {
            .footerParaLinks {
                margin: 0px; //overriding
                text-align: center;
                .footerListLink1 {
                    padding: 0 5px 0 10px;
                }
                .footerListLink1,
                .footerListLink2 {
                    font-size: 50%;
                }
            }
        }
    }
}

//toprightmenuMobileview
@media only screen and (min-width: 630px){
    .Grid-TopRightMenu {
    
        .TopMenus {

            width: 230px;
            .TopMenus-span {
                font-size: 55%;
            }
    
            .TopMenus-span1 {
                font-size: 55%;
            }
        }
    }
}
@media only screen and (min-width: 420px) and (max-width: 630px){
    .Grid-TopRightMenu {    
        .TopMenus {
            width: 100%;
            text-align: center;
            .TopMenus-span {
                font-size: 70%;
            }
    
            .TopMenus-span1 {
                font-size: 70%;
            }
        }
    }
}
@media only screen and (min-width: 100px) and (max-width: 420px){
    .Grid-TopRightMenu {    
        .TopMenus {
            width: 100%;
            text-align: center;
            .TopMenus-span {
                font-size: 47%;
            }
    
            .TopMenus-span1 {
                font-size: 47%;
            }
        }
    }
}